@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    
}

.prata{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
.logo-font{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
}


a.active hr{
    display: flex;
}
a.active.menu{
    background-color: black;
    color: white;
    transition: all 0.5s ease-in;
}