@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    
}

.prata{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

.permanent {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  

a.active hr{
    display: flex;
}
a.active.menu{
    background-color: black;
    color: white;
    transition: all 0.5s ease-in;
}